*{
    padding: 0px 0px;
    margin: 0px 0px;
}

body{
    background-image:url('P.jpg');
    background-size: contain;
    background-attachment: fixed;
}

.main{
    position: relative;
    background-image:url('oo.jpg');
    height: 83px;
    width: 486px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    border: 5px solid rgb(0, 0, 3);
    border-radius: 20px;
}
.main p {
    color:white;
}

#longurl{
    position: relative;
    top: 40%;
    left: 10%;
    height: 40px;
    width: 296px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 20px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#shorten{
    position: relative;
    top: 40%;
    left: 12%;
    height: 40px;
    width: 80px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    font-family: monospace;
    color: white;
    background-color: purple;
}

#shorten:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}

#shorturl{
    position: relative;
    top: 45%;
    left: 10%;
    height: 40px;
    width: 270px;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 47px;
    font-size: large;
    font-family: monospace;
    font-weight: bold;
}

#copy{
    position: relative;
    top: 50%;
    left: 0%;
    height: 35px;
    width: 35px;
    border: 2px solid black;
    border-radius: 10px;
    color: white;
    background-image: url('oo.jpg');
}

#copy:hover{
    box-shadow: 0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee,0 5px 50px 0 #15f4ee inset,0 5px 50px 0 #15f4ee;
}

#shorten {
    background-image: url('oo.jpg');
}

.main p{
    /* background-color: white; */
    position: relative;
    top: 30%;
    left: 13%;
    height: 60px;
    width: 400px;
    font-size: 50px;
    font-family: monospace;
    font-weight: bold;
    color: rgb(160, 0, 0);
}
